/* Header ******************************************************************** */
.menu-toggler  {
    font-size: 28px;
    display: none;

}
 i.fa {
    color: #fefefe;
    font-size:35px ;
    cursor: pointer;
    left: 0;
    z-index: 99999999999999999999;
}

@media screen and (max-width:990px){
    .menu-toggler{
        display: block;
        
    }
    .heden-header{
        display: none;
    }
    .menu-toggler .row {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: #fdfdfdd8;
    z-index: 999;
    top: 0;
    left:  0;
    max-width: 250px;
    padding: 20px 0;
    left: 0;
    box-shadow: 0 5px 8px #96b147;
}
.menu-toggler .row  nav ul a{
    display: block;
    font-size: 16px;
    top: 50px;
    color: #000;
    left: 75px;
    font-weight: bolder;
}
.menu-toggler .row  nav ul a:hover{
    color:  #96b147;

}
.menu-toggler .row  button{
    border-color: #000;
    font-weight: bold;
    color: #000;
    margin: 40px 0;
    margin-left: 55px;
    
}
.heden{
    display: none;
}


}

.hidden{
    display: block;
}